<launch>
    <!-- Tell Gazebo where to find our custom object models -->
    <env name="GAZEBO_MODEL_PATH" value="$(find adr)/models:$(optenv GAZEBO_MODEL_PATH)" />

    <!-- Start Gazebo with our world model-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find adr)/worlds/test.world"/>
    </include>

    <!-- Start the fetch robot -->
    <!--<include file="$(find fetch_gazebo)/launch/include/fetch.launch.xml" />

    <include file="$(find fetch_moveit_config)/launch/move_group.launch"/>

    <include file="$(find crd10_ros360)/launch/image_proc.launch"/>-->

    <!-- Start RViz with our saved view configuration -->
    <!--<node type="rviz" name="rviz" pkg="rviz" args="-d $(find crd10_ros360)/config/fetch_rviz.rviz" /> -->
</launch>
